<aside class="sidebar">
  <header class="sidebar-header">
    <div class="sidebar-title-wrapper">
      <span id="sidebar-title">TED</span>
      <button
        id="open-sidebar"
        class="sidebar-toggle"
        type="button"
        aria-label="collapse sidebar"
        data-toggle-sidebar
      ></button>
    </div>
    <button
      id="close-sidebar"
      class="sidebar-toggle"
      type="button"
      aria-label="collapse sidebar"
      data-toggle-sidebar
    ></button>
  </header>
  <nav class="sidebar-nav" aria-label="Primary navigation"></nav>
</aside>
