.selector-menu {
  width: min(250px, 95vw);
  background-color: var(--surface);
  white-space: wrap;
  box-shadow: var(--shadow-prominent);
  pointer-events: all;
  opacity: 1;
  border: 1px solid var(--border-strong);
  padding-left: 4px;
  padding-right: 4px;
}

.selector-menu-item {
  display: flex;
  width: 100%;
  gap: 12px;
  border-radius: var(--radius-xsmall);
  padding: 0px 12px;
  height: 40px;
  align-items: center;
}

.selector-menu-item:hover {
  background-color: var(--surface-highlight-subtle);
}

.backdrop {
  display: none;
  position: fixed;
  inset: 0;
  opacity: 0;
}

selector-menu.is-visible .backdrop {
  display: block;
  pointer-events: all;
}

.selector-menu-item svg {
  color: var(--text);
  height: 16px;
  width: 16px;
  stroke-width: 2px;
}

.selector-menu-item span {
  margin-right: auto;
}

.selector-menu-item .selection-indicator {
  color: var(--row-selection-border);
  opacity: 0;
}

.selector-menu-item.is-selected .selection-indicator {
  opacity: 1;
}
