breadcrumbs-header {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  grid-template-rows: minmax(0, 1fr);
  padding: 12px var(--horizontal-screen-padding);
  width: 100%;
  border-bottom: 1px solid var(--border);
  display: flex;

  .breadcrumb-path-wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  [data-tab] {
    background-color: transparent;
    border: 0;
    border-radius: var(--radius-xsmall);
    padding: 4px 8px;
    margin: 0px -8px;
  }

  [data-tab]:hover {
    text-decoration: underline;
  }

  [data-tab]:active {
    opacity: 0.3;
  }

  .breadcrumb-slash {
    height: 16px;
    width: 16px;
    opacity: 0.5;
  }

  .text {
    opacity: 0.5;
  }
}
